// Optionally override SCSS classes here (these styles will be loaded last to ensure they have highest priority)
#header {
  background-color: #bac68f;
}

#footer {
  background: #d4a373;
}

.SRC-blackText {
  color: #515359;
}
